@font-face {
  font-family: fly;
  src: url("../Blockletter.otf");
}
body {
  font-family: fly;
}
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* styles.css */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #ffffff; /* Background color of the scrollbar track */
  border-radius: 8px; /* Rounded corners of the scrollbar track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: rgb(17, 17, 17); /* Color of the scrollbar handle */
  /* border-radius: 8px; */
}

/* Handle hover styles */
::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the scrollbar handle on hover */
}
